* { padding: 0; margin: 0; border: 0; box-sizing: border-box; }


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

header {
  background-color: #8B0000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 6%;
  border-bottom: 0px;
}
header::after {
  clear:both;
}
nav {
  background-color: #404040;
  height: 4%;
  color: white;
  font-family: sans-serif, Times, serif;
  font-size: 1em;
  text-align: right;
  word-spacing: 30px;
  vertical-align: middle;
  text-align: right;
  clear: both;
}

article {
  float: left;
  width: 70%;
  height: 1000px; /* only for demonstration, should be removed */
  background: white;
  padding: 20px;
}

aside {
  float: left;
  padding: 20px;
  width: 30%;
  background-color: white;
  height: 1000px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  clear: both;
  left: 0;
  bottom: 0;
  background-color: #404040;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
